.multiSelectDropdown {
  position: relative;
  display: inline-block;

  button {
    width: 400px;
    font-size: 16px;
  }

  .dropdownToggle {
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #cbd5e1;
    border-radius: 12px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: #f0f0f0;
    }

    &.active {
      border-color: #818cf8;
      box-shadow: 0px 0px 0 4px #c7d2fe;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #cbd5e1;
    list-style: none;
    padding: 0;
    margin-top: 4px;
    width: 100%;
    border-radius: 12px;
    max-height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      border: 3px solid transparent;
      background-clip: padding-box;
      border-radius: 9999px;
      background-color: #d1d1d1;
    }

    li {
      margin: 6px 2px 6px 6px;
      border-radius: 8px;

      img {
        visibility: hidden;
      }

      &:hover {
        background-color: #f0f0f0;
      }

      &.checked {
        background-color: #eef2ff;
        color: #4f46e5;

        img {
          visibility: visible;
        }
      }

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        p {
          display: inline;
        }

        input {
          opacity: 0;
          position: absolute;
        }
      }
    }
  }
}
